.container.brand {
    grid-template-columns: repeat(1, 1fr);
}
.brand h1 {
    font-family: 'pokemon_solidnormal';
    color: #0063b1;
    margin: 10px 0 0;
    font-size: 2.4em;
    text-align: left;
    letter-spacing: 1px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    width: calc(80% - 20px);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
}

@media (max-width: 1194px) {
    .brand h1 {
        font-size: 1.8em;
        margin-bottom: 0;
    }
}
  
@media (max-width: 600px) {
    .brand h1 {
        font-size: 1.4em;
    }
}